<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue.JS Async Dropdown Component</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <template id="selectComponent">
                <div class="container">
                    <div class="outer-row">
                        <div class="col">
                            <div class="row">
                                <select
                                    id="countrySelector"
                                    class="defaultSelect"
                                    v-model="selectedCountry">
                                    <option
                                        value=""
                                        selected="selected"
                                        hidden="hidden">
                                        Select
                                        Country</option>
                                    <option
                                        v-for="country in countries">{{country}}</option>
                                </select>
                            </div>
                            <div class="row">
                                <select
                                    id="stateSelector"
                                    class="defaultSelect"
                                    v-model="selectedState">
                                    <option
                                        value=""
                                        selected="selected"
                                        hidden="hidden">
                                        Select
                                        State</option>
                                    <option
                                        v-for="state in states">{{state}}</option>
                                </select>
                            </div>
                            <div class="row">
                                <select
                                    id="citySelector"
                                    v-model="selectedCity"
                                    name="citySelector"
                                    v-if="selectedState &&
                                    cities.length != 0"
                                    multiple>
                                    <option
                                        value=""
                                        selected="selected"
                                        hidden="hidden">
                                        Select
                                        City</option>
                                    <option
                                        v-for="city in cities">{{city}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <button id="clearBttn" @click="clearValues()">Clear</button>
                            <h3 class="loadStatus" v-if="selectedCountry &&
                                states.length == 0">Loading..</h3>
                            <h3 class="loadStatus" v-if="selectedCountry &&
                                states.length != 0">Done!</h3>
                            <h3 id="loadingCityIcon" class="loadStatus" v-if="selectedState &&
                                cities.length == 0">Loading..</h3>
                            <h3 id="noCitiesText" class="loadStatus"></h3>
                            <div id="cityDoneContainer" class="loadStatus"
                                v-if="selectedState &&
                                cities.length != 0">
                                <h3 v-if="selectedCity.length == 0"> Number of Cities Selected: {{selectedCity.length}}</h3>
                                <h3 v-if="selectedCity.length >= 1"> Number of Cities Selected: {{selectedCity.length - 1}}</h3>
                                <input value="Select All" type="radio" @click="selectAll()" v-model="picked">Select All</input>
                                <input value="De-Select All" type="radio" @click="unselectAll()" v-model="picked">De-Select All</input>
                                <p>For windows: Hold down the control (ctrl)
                                    button to select multiple options
                                </p>
                                <p>For Mac: Hold down the command button to
                                    select multiple options</p>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
            <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
            <script src="main.js"></script>
        </body>
    </html>